# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/StockMarket/dist/

# NetBeans

StockMarket/nbproject/private/
StockMarket/build/
StockMarket/nbbuild/
StockMarket/dist/
StockMarket/nbdist/
StockMarket/.nb-gradle/

/StockMarket/build/built-jar.properties
/StockMarket/nbproject/private/private.properties
/StockMarket/nbproject/private/private.xml
/StockMarket/experiments/
